<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1><a href="./">🕓 {{title}}</a></h1>
  <div class="spacer"></div>
  <a class="button" routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-label="About us" title="About us">About</a>
  <a class="button" routerLink="/demo" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-label="Request a Demo" title="Request a Demo">Demo</a>
  <a class="button" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-label="Contact Us" title="Contact Us">Contact Us</a>
  <a class="button" routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-label="Log In" title="Log In">Log In</a>
</div>
<router-outlet></router-outlet>
